#site_brand {
	font-size: 50px;
color:#fff;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    position: relative;
    min-height: 50px;
	margin-bottom: 0px !important;
    border: none !important;
}

#nav_size {
  padding: 20px;
  background-color: #272840;
}
.navbar-default .navbar-nav li a{
  color:#fff !important;
}
/* Navbar */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #BEBEBE;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
.navbar-toggle{
    margin-top:0 !Important;
    margin-bottom:0 !Important;
}
/* Hero Image*/
.hero-image {
  background-image: url("assets/bg1.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  padding-top: 60px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.title {
	text-align: center;
}

#section_1 {
	padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

#section_2 {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

#section_3 {
	padding-top: 50px;
  padding-bottom: 50px;
	background-color: #DADADA;
  padding-left: 25px;
  padding-right: 25px;
}

#contact {
	background-color: white;
	padding: 30px;
}

#coupon {
    color: white;
    background: transparent;
    border: 2px solid white;
    padding: 0.5em;
    font-weight: 700;
    font-size: 21px;
}

#user_button {
    color: white;
    background-color: #272840;
    padding: 0.5em;
    font-weight: 700;
    font-size: 21px;
}

.image {
  height: 200px;
  width: 200px;
}

textarea {
   resize: none;
}

.footer{
  background-color: black;
  padding:50px;
}