body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
.container{
  margin: 0 auto;
  max-width: 100%;
}
.card-body p{
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.boton_salir{
  width: 200px;
  font-size: 14px;
}