body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
.container{
  margin: 0 auto;
  max-width: 100%;
}
.boton_nuevo{
  width: 200px;
  font-size: 14px;
  margin: 2em 0;
}
.boton_tabla{
  font-size: 14px;
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
}
table thead th,table tbody td{
  text-align: center;
}
.boton_salir{
  width: 200px;
  font-size: 14px;
}