body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
.container{
  margin: 0 auto;
  max-width: 100%;
}
.boton_nuevo{
  width: 200px;
  font-size: 14px;
  margin: 2em 0;
}